* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #accbee;
}
.logo-slider {
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    filter: drop-shadow(0  10px 20px rgba(50, 59, 247, 0.5));
    box-shadow: 0 8px 25px rgba(7, 10, 37, 0.18);
    border-radius: 75px;
}
.slider {
    width: 100%;
    overflow: hidden;
    padding: 15px 0;
}
.slider-track {
    display: flex;
    transition: transform 0.5s ease;
}
.logo {
    min-width: 25%;
    height: 100px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 150px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.5s ease, filter 0.5s ease;
}
.logo:hover img {
    transform: scale(1.08);
    filter: drop-shadow(0  10px 20px rgba(2, 12, 161, 0.5));
}
.prev,
.next {
    width: 65px;
    height: 52px;
    border: 2px solid #191a23;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin:0 30px 0 30px;
}
.prev,
.next {
    transition: transform 0.5s ease,
                background 0.5s ease,
                box-shadow 0.5s ease;
}
.prev:hover,
.next:hover {
    background: #f8d5d5;
    color: #191a23;
    transform: scale(1.08);
    filter: drop-shadow(0  5px 10px rgba(2, 12, 161, 0.3));
}
.prev:active,
.next:active {
    transform: scale(0.96);
    filter: drop-shadow(0  5px 10px rgba(2, 12, 161, 0.3));
}
